<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>Construction</title>
</head>
<body>
        <div>
            <img src="/pictures/under_construction.png" alt="Construction">
        </div>   
    </body>
    <div class="copyright" disabled="true">Version 29042026_1</div>
<footer>
    <div class="copyright">
        <a [routerLink]="['admin/login']">
            © 2026 boy coté
        </a>
    </div>
</footer>
</html>








