
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Copyright */
.copyright {
    font-family: "Roboto Mono", monospace;
    font-style: oblique;
    font-size: 20px;
    cursor: pointer;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}