<!-- ══ HEADER ══ -->
<div class="header">
  <app-button-return class="btn-boutique"></app-button-return>

  <div class="logo">
    <img class="img_logo_mobile" src="/pictures/logo.png" alt="Logo Boycoté">
  </div>
</div>

<div class="page-body">
  <div class="cabine-box">

    <!-- Sélecteur de genre -->
    <div class="genre-bar">
      <select class="genre-select" [value]="gender()" (change)="onGenderChange($event)">
        <option value="MAN">MEN</option>
        <option value="WOMAN">WOMEN</option>
      </select>
    </div>

    <div class="mannequin-row">

      <!-- Flèches GAUCHE -->
      <div class="arrows-col">
        @for (cat of cats; track cat) {
          <button class="arrow-btn" (click)="prev(cat)">
            <svg viewBox="0 0 24 24"><polygon points="16,3 8,12 16,21"/></svg>
          </button>
        }
      </div>

      <!-- ══ MANNEQUIN CENTRAL ══ -->
      <div class="mannequin-center">

        <!-- Mannequin homme/femme -->
        <img class="mannequin-img mannequin-img--homme" [class.hidden]="isFemme()"
             src="/pictures/mannequin-homme.webp" alt="mannequin homme"/>
        <img class="mannequin-img mannequin-img--femme" [class.hidden]="isHomme()"
             src="/pictures/mannequin-femme.webp" alt="mannequin femme"/>

        <!-- Calques vêtements -->
        @for (cat of cats; track cat) {
          @if (hasItem(cat) && hasItem('haut')) {
            
      <img
        class="outfit-img"
        [src]="getImgSrc(cat)"
        [ngStyle]="getStyle(cat)"
        [style.z-index]="getZIndex(cat)"
        [style.top]="getImgTop(cat)"
        [style.left]="getImgLeft(cat)"
        [style.width]="getImgWidth(cat)"
        [style.height]="getImgHeight(cat)"
        [alt]="getNom(cat)"
        />
            }
          }
      </div>

      <!-- Flèches DROITE -->
      <div class="arrows-col">
          @for (cat of cats; track cat) {
            <button class="arrow-btn" (click)="next(cat)">
              <svg viewBox="0 0 24 24"><polygon points="8,3 16,12 8,21"/></svg>
            </button>
          }
      </div>

    </div>
  </div>

  <!-- INFO TENUE -->
  <div class="outfit-info">
    @for (cat of cats; track cat) {
      <div class="info-line">
        <span class="lbl">{{ cat.toUpperCase() }}:</span>
        @if (hasItem(cat)) {
          <a [href]="getUrl(cat)" target="_blank">{{ getNom(cat) }}</a>
        } @else {
          <span class="none">—</span>
        }
      </div>
    }
  </div>


</div>
