<div class="enveloppe-flottante">
    <div class="carte-produit">

        <div class="barre-titre">
            <span class="texte-titre">Product Details</span>
            <button class="btn-mesures" (click)="afficherMesures = true">MEASUREMENTS</button>
        </div>

        <div class="corps-carte">
            <span class="titre-produit">{{ article.name }}</span>
            <div class="separateur"></div>
            <p class="description-produit">{{ article.description }}</p>
            <div class="separateur"></div>
            <div class="bloc-condition">
                <p class="label-condition">Condition</p>
                <p class="texte-condition">{{ article.conditions }}</p>
            </div>
            <div class="infos-produit">
                <p>{{ article.gender }} — SIZE {{ article.size }}</p>
                <p class="prix-produit">{{ article.prix | currency:'EUR'}}</p>
            </div>

            <div class="conteneur-bouton">
            @if(article){
                @if(article.stock === 0){
                <button class="primary" (click)="addToRequest(article)"><span>REQUEST SOURCING</span></button>
                }
                @else {
                <button class="primary" (click)="addToCart(article)"><span>ADD TO CART</span></button>
                }
                }
            </div>


        </div>

    </div>
</div>

<!-- POPUP MESURES -->
@if(afficherMesures){
<div class="fond-popup" (click)="afficherMesures = false">
    <div class="fenetre-popup" (click)="$event.stopPropagation()">
        <div class="barre-popup">
            <div class="bouton-fermer">
                <app-close-button (click)="afficherMesures = false"></app-close-button>
            </div>
            <span class="titre-popup">Measurements</span>
        </div>
        <div class="corps-popup">
            <div class="zone-mesures">
                <p class="texte-mesures">{{ article.mesure }}</p>
            </div>
        </div>
    </div>
</div>
}