<div class="header">

<div class="page-body">
  <div class="cabine-box">

    <div class="genre-bar">
      <select class="genre-select" [value]="gender()" (change)="onGenderChange($event)">
        <option value="MAN">MEN</option>
        <option value="WOMAN">WOMEN</option>
      </select>
    </div>
    
    
    <div class="mannequin-row">

      <!-- <img class="mannequin-img mannequin-img--homme" [class.hidden]="isFemme()"
           src="/pictures/mannequin-homme.webp" alt="mannequin homme"/>
      <img class="mannequin-img mannequin-img--femme" [class.hidden]="isHomme()"
           src="/pictures/mannequin-femme.webp" alt="mannequin femme"/> -->

      <div class="arrows-col">
      </div>

      <div class="mannequin-center" #canvas>
      
        <img [src]="isHomme() ? mannequinImgHomme : mannequinImgFemme" class="mannequin-img" />
      
        <div class="image-wrapper" [ngStyle]="{
              'left.%': formCabin.controls.positionx.value,
              'top.%': formCabin.controls.positiony.value,
              'width.%': formCabin.controls.width.value,
              'height.%': formCabin.controls.height.value,
              'z-index': formCabin.controls.zindex.value
                    }" (mousedown)="startDrag($event, 'move')">
      
          <img [src]="picture" class="outfit-img" draggable="false" />
      
          <div class="resize-handle" (mousedown)="startDrag($event, 'resize')"></div>
      
        </div>
      
      </div>


      <div class="arrows-col">
      </div>
    </div>
  </div>
</div>