*{
    margin: 0;
    padding: 0;
    top: 0;
}
.nav:focus,
.nav:focus-visible {
  outline: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

.btn-encadrement,.btn{
    background-color: transparent;
}

.img-btn{
    width: 100px;
    border: none;
    cursor: pointer;
    border-image-slice: 30 fill;
    background: transparent;
      outline: none;
} :active{
    scale: 0.95;
}

.btn {
    all:unset;
    border: none;
    background: transparent;
    width: 100px;
    outline: none;
}

