
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


        <!-- <img class="img-btn" src="../pictures/arrow_right.png" (click)="clickBtnRight()"  alt=""> -->

<button class="btn" (click)="clickBtnRight()" [disabled]="disabled" [ngStyle]="{'opacity':opacity,'scale':scale}">
    <div class="btn-encadrement">
        <img class="img-btn" src="../pictures/arrow_right.png" alt="">
    </div>
</button>


</body>
</html>




