*{
    margin: 0;
    padding: 0;
    top: 0;
}

.img-btn{
    width: 120px;

    border: none;
    cursor: pointer;
    border-image-slice: 30 fill;
} :active{
    scale: 0.95;
}

.btn{
    border: none;
    background-color: #fff;
    width: 100px;
}