<!-- <div class="mini-card">
  <img class="mini-img" [src]="article.pathpictureone" alt="{{ article.name }}" />

  <div class="mini-info">
    <p class="mini-marque">{{ article.marque }}</p>
    <p class="mini-name">{{ article.name }}</p>
    <p class="mini-price">{{ article.prix }} €</p>
  </div>
</div> -->


<div class="mini-card">
    @if(article.stock == 0){
        <div class="soldout-badge" >
          SOLD OUT
        </div>
    }

  <img class="mini-img" (click)="readViewProduct(article.id)" [src]="article.pathpictureone" alt="{{ article.name }}" />

  <div class="mini-info">
    <p class="mini-marque">{{ article.marque }}</p>
    <p class="mini-name">{{ article.name }}</p>
    <p class="mini-price">{{ article.prix }} €</p>
  </div>
</div>
