/* La card du carousel */
.global-container {
  margin-top: 48px;
  /* ← descend les cards */
}

.carousel-card {
  width: 200px;
  height: 200px;
  /* même taille que ton carousel */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.wrapper {
  padding-top: 32px;
}

/* Empêche tout débordement */
.carousel-img-wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Image parfaitement contenue */
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  cursor: pointer;
}

/* Texte */
.carousel-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carousel-name {
  font-size: .9rem;
  color: #555;

}

.carousel-price {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}