    <div class="container">
                <div class="container-carousel">
                    <div class="carousel-product">

                        <button class="nav left desktop" (click)="prev()">
                            <app-component-left></app-component-left>
                        </button>

                        <div class="items" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)"
                            [class.animating]="isAnimating" [class.left-direction]="direction === 'left'">

                            @for (article of visibleArticles; track trackByArticle($index, article); let i = $index) {
                            <img class="item" [src]="fixLocalUrl(article.pathpictureone)"
                                [style.transform]="getTransform(i)" [class.fullscreen]="isFullscreen"
                                (click)="openFullscreen(article.pathpictureone)" [style.zIndex]="getZIndex(i)"
                                [style.opacity]="getOpacity(i)" />
                            }
                        </div>

                        <button class="nav right desktop" (click)="next()">
                            <app-component-right></app-component-right>
                        </button>

                        <div class="nav-mobile mobile">
                            <button class="nav" (click)="prev()">
                                <div class="btn-left">
                                    <app-component-left></app-component-left>
                                </div>
                            </button>
                            <button class="nav" (click)="next()">
                                <div class="btn-right">
                                    <app-component-right></app-component-right>
                                </div>
                            </button>
                        </div>

                    </div>

                        <div class="description">
                            @if(product){
                                <app-informations-card [article]="product"></app-informations-card>
                            }
                        </div>
                </div>

    </div>
        @if(fullscreenImage){
        <div class="fullscreen-overlay" (click)="closeFullscreen()">
            <img [src]="fullscreenImage" class="fullscreen-image" />
        </div>
        }

