<div class="page">

    <div class="container">

          <div class="parent">

            <!----------------------------- ENTETE ------------------------->
            <div class="div1">

                <app-button-return class="imgBack"></app-button-return>

                <!-- LOGO -->
                <div class="container-logo">
                    <img class="img_logo" src="/pictures/logo.png" alt="Logo Boycoté">
                </div>

                <!-- PANIER -->
                <div class="panier">
                    <app-cart></app-cart>
                </div>

            </div>

            <!----------------------------- CAROUSEL ------------------------->
            <div class="div2">
            
                <div class="container-carousel">

                    <button class="nav left desktop" (click)="prev()">
                        <app-component-left></app-component-left>
                    </button>

                        <div class="items" 
                        (touchstart)="onTouchStart($event)"
                        (touchend)="onTouchEnd($event)"
                        [class.animating]="isAnimating" 
                        [class.left-direction]="direction === 'left'">
                        
                            @for (article of visibleArticles; track trackByArticle($index, article); let i = $index) {
                            <img 
                            [src]="article.pathpictureone" 
                            class="item" [style.transform]="getTransform(i)" 
                            [style.zIndex]="getZIndex(i)"
                            [style.opacity]="getOpacity(i)" />
                            }
                        </div>
                        
                    <button class="nav right desktop" (click)="next()">
                        <app-component-right></app-component-right>
                    </button>

                    <div class="nav-mobile mobile">
                    <button class="nav" (click)="prev()">
                        <div class="btn-left">
                            <app-component-left></app-component-left>
                        </div>
                    </button>
                    <button class="nav" (click)="next()">
                        <div class="btn-right">
                            <app-component-right></app-component-right>
                        </div>
                    </button>
                    </div>

                    <div class="container">
                        <div class="description">
                            <app-product-card [product]="product"></app-product-card>
                        </div>
                    </div>
            
                </div>
            </div>


            <div class="div3">
                <div class="footer">
                    <app-footer></app-footer>
                </div>
            </div>

        </div>
        

    </div>
</div>






































<!-- 
<div class="header">

    <img class="imgBack" src="pictures\back.png" [routerLink]="['/home']" alt="Back">

    <img class="img_logo" src="/pictures/logo.png" alt="Logo Boycoté">

    <div class="btn-panier">
        <app-cart></app-cart>
    </div>
</div>

        <div class="carousel">

            <button class="nav left desktop" (click)="prev()">
                <app-component-left></app-component-left>
            </button>

            <div class="items" 
            [class.animating]="isAnimating" 
            [class.left-direction]="direction === 'left'">

                @if(visibleArticles.length > 0)
                {
                    @for (article of visibleArticles;track $index; let i = $index) {
                        <img (click)="readViewProduct(product)" 
                        [src]="article" 
                        class="item"
                        [style.transform]="getTransform(i)"
                        [style.zIndex]="getZIndex(i)"
                        [style.opacity]="getOpacity(i)" />
                        <div class="card" (click)="readViewProduct(product)"></div>
                    }
                }
            </div>

            <button class="nav right desktop" (click)="next()">
                <app-component-right></app-component-right>
            </button>
        </div>




    
    <div class="nav-mobile mobile">
        <button class="nav" (click)="prev()">
        <app-component-left></app-component-left>
        </button>
        <button class="nav" (click)="next()">
        <app-component-right></app-component-right>
        </button>
    </div>
        

        <div class="description">
            <app-product-card></app-product-card>
        </div>       

        <div class="footer">
        <app-footer></app-footer>
        </div>


    
 -->
