<div class="parent">

    <div class="div1">
            <div class="container">

                <app-button-return></app-button-return>
                <div class="container-logo">
                    <img class="img_logo" src="/pictures/logo.png" alt="Logo Boycoté">
                </div>
                <div class="cart-wrapper">

                    <img class="btn-panier" src="/pictures/shopping.png" alt="panier" class="img-panier" >
                    
                        @if(countPanier > 0){
                            <span class="cart-badge">
                                {{ countPanier }}
                            </span>
                        }
                </div>
            </div>
    </div>

    <div class="div2">
            <div class="container-carousel">
        
                <div class="btnLeft">
                    <app-component-left (outputLeft)="startCarouselStandard($event)" />
                </div>
                
                @if(loadingCarousel){
                  @for(product of listResult;track $index; let idx = $index)
                    {
                    <div class="cont">
                        <div #carousel__cell class="carousel__cell" [ngStyle]="getStyle(idx)">
                            <img class="imgCard" src="{{product.pathpictureone}}" (click)="readViewProduct(product)">
                        </div>
                    </div>
                    }
                }
            
            <div class="btnRight">
                <app-component-right (outputRight)="startCarouselStandard($event)" />
            </div>
        </div>

        <div class="div3">
                    <div class="view">
                        <app-informations-card></app-informations-card>
                    </div>
        </div>

    </div>
    

</div>

