<div class="global-wrapper">
  <div class="global-content">
    <div class="carousel-wrapper">
      <!-- FORCE LE PIPELINE À SE DÉCLENCHER -->
      <span style="display:none">{{ visible.length }}</span>

      @if (logic.fallbackMode()) {
      <div class="mini-carousel-wrapper">
        @for(article of logic.filtered();track article.id){
        <app-carousel-mini-card [article]="article" />
        }
      </div>
      }
      @else if (logic.canShowCarousel()) {

      <div class="carousel-wrapper">
        <div class="carousel">

          <button class="nav left desktop" (click)="logic.prev()">
            <app-component-left></app-component-left>
          </button>

          <div class="items" 
          (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)"
          [class.animating]="isAnimating" [class.left-direction]="direction === 'left'">

            @for (article of visible; track trackByArticle($index, article); let i = $index) {
            <img (click)="readViewProduct(article)" [src]="article.pathpictureone" class="item"
              [style.transform]="logic.getTransform(i)" [style.zIndex]="logic.getZIndex(i)"
              [style.opacity]="logic.getOpacity(i)" />
            }

            @if (logic.central()?.isSoldOut) {
            <img class="img-sold-out" src="/pictures/sold-out.png">
            }

          </div>

          <button class="nav right desktop" (click)="logic.next()">
            <app-component-right></app-component-right>
          </button>

        </div>

        <div class="container">
          <div class="description">
            @if (logic.central()) {
            <p>{{ logic.central().name }}</p>
              @if(!logic.central().size){
                <p>{{ logic.central().gender }} </p>
              }
            @else{
              <p>{{ logic.central().gender}} - {{ logic.central().size }} </p>
            }
            <span class="price">{{ logic.central().prix | currency:'EUR' }}</span>
            }
          </div>
        </div>

        <div class="conteneur-bouton">
          @if (logic.central()?.isSoldOut) {
          <button class="primary" (click)="addToRequest(logic.central())">
            <span>REQUEST SOURCING</span>
          </button>
          }
          @else {
          <button class="primary" (click)="addToCart(logic.central())">
            <span>ADD TO CART</span>
          </button>
          }
        </div>

        <div class="nav-mobile mobile">
          <button class="nav" (click)="prev()">
            <app-component-left></app-component-left>
          </button>
          <button class="nav" (click)="next()">
            <app-component-right></app-component-right>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>