

<div class="container">
<h1>Bienvenue sur Boy Coté</h1>

<div class="logoContainer">
    <ul>
        <li>
            <img class="logoContainer" src="/pictures/logo.png">
            <a class="titleLogo" (click)="myDialog.show()" (click)="compHeader()">Boy Coté</a>
        </li>
    </ul>
</div>

<div class="popup">
    <dialog #myDialog>
        <div class="popupTitle">Boy Coté Museum</div>
        <div class="btnNav">
            <a mat-flat-button class="btnModalEnter" (click)="myDialog.close()" (click)="listClick()">Enter</a>
            <button mat-flat-button class="btnModalClose" (click)="myDialog.close()">Close</button>
        </div>
    </dialog>
</div>

</div>

