/* ============================
   HEADER STRUCTURE
   ============================ */
.header-wrapper {
  width: 100%;
  padding: 10px 0;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 10px;
  z-index: 10;
}

.header-left,
.header-right {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .header-right {
    margin-right: 2px;
  }

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo_mobile {
  width: 130px;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

/* MOBILE : hamburger visible */
.header-left {
  display: flex;
  cursor: pointer;
}

@media (min-width: 900px) {

  .header-left {
    display: flex;
    /* visible */
    cursor: pointer;
  }

  .header-wrapper {
    padding: 20px 0;
    /* un peu plus d’air en desktop */
  }

  .header {
    height: 80px;
    padding: 0 30px;
  }

  .header-left,
  .header-right {
    width: 80px;
    /* équilibre visuel */
    height: 80px;
  }

  .img_logo_mobile {
    width: 140px;
    /* logo plus grand en desktop */
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }

}

