<img class="imgBack" src="pictures\back.png" [routerLink]="['/admin']" alt="Back">

<img class="img_logo" src="/pictures/logo.png" alt="Logo Boycoté">

<button class="logout-btn" (click)="logout()">Logout</button>



<div class="container">


  <!---------------- PRODUCTS ---------------->
  <div class="products">
    
    <div class="product-table">
      <div class="filter-bar">
        <input type="text" placeholder="Rechercher (SKU, nom, marque, type)…" [(ngModel)]="searchProduct">
      </div>
      <table class="tproduct">
        <thead>
          <tr>
            <th class="cont-btn-add">
              <div  routerLink="add">
                <img class="btn-add" src="/pictures/add.png" alt="">
              </div>
            </th>
            <th>Ordre</th>
            <th>Preview</th>
            <th>Sku</th>
            <th>Type</th>
            <th>Nom</th>
            <th>Marque</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- 🔥 Activation du drag & drop -->
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">

          @for (product of productsFiltered; track product.id) {
          <tr cdkDrag>
            <td></td>
            <td>{{ product.display_order }}</td>
            <td>
              <img [src]="getPreviewProduct(product)" alt="{{ product.name | truncate:6 }}" [title]="product.name" class="preview" />
            </td>
            <td>{{ product.sku }}</td>
            <td>{{ product.type }}</td>
            <td [title]="product.name">{{ product.name | truncate:20}}</td>
            <td>{{ product.marque }}</td>
            <td>{{ product.prix }} €</td>
            <td>{{ product.stock }}</td>
            <td class="actions">
              <button class="update" (click)="editProduct(product)">
                <img src="/pictures/modifier.png">
              </button>

              <button class="danger" (click)="deleteProduct(product.id)">
                <img src="/pictures/delete.png">
              </button>
            </td>
          </tr>
          }

        </tbody>
      </table>

    </div>
  </div>

    <!---------------- CABIN ---------------->
  <div class="cabins">
    <div class="marque-table">
      <div class="filter-bar">
        <h3 style="margin-bottom: 5px;">Articles de la Cabine</h3>
        <input type="text" placeholder="Rechercher (Title, Genre, ProductLink)…" [(ngModel)]="searchCabin">
      </div>
      <table class="tcabin">
        <thead>
          <tr>
            <th class="cont-btn-add">
              <div  routerLink="cabin/add">
                <img class="btn-add" src="/pictures/add.png" alt="">
              </div>
            </th>
            <th>Preview</th>
            <th>Sku</th>
            <th>Title</th>
            <th>Lien</th>
            <th>Type</th>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
        </thead>

          @for (cabin of cabinFiltered; track cabin.id) {
          <tr>
            <td></td>
            <td class="previewTd">
              <img [src]="getPreviewCabin(cabin)" alt="{{ cabin.title | truncate:20 }}" [title]="cabin.title" />
            </td>
            <td>{{ cabin.sku }}</td>
            <td>{{ cabin.title }}</td>
            <td>{{ cabin.productlink }}</td>
            <td>{{ cabin.type}}</td>
            <td>{{ cabin.genre }}</td>
            <td class="actions">
              <button class="update" (click)="editCabin(cabin)">
                <img src="/pictures/modifier.png">
              </button>

              <button class="danger" (click)="deleteCabin(cabin.id)">
                <img src="/pictures/delete.png">
              </button>
            </td>
          </tr>
          }


      </table>

    </div>
  </div>
  

  <!---------------- MARQUES ---------------->
  <div class="marques">
    <div class="marque-table">

      <table>
        <thead>
          <tr>
            <th>
              <div class="cont-btn-add" routerLink="/admin/marque/add">
                <img class="btn-add" src="/pictures/add.png" alt="">
              </div>
            </th>
            <th>Ordre</th>
            <th>Marques</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- 🔥 Activation du drag & drop -->
        <tbody cdkDropList (cdkDropListDropped)="dropMarques($event)">

          @for (marque of marques; track marque.id) {
          <tr cdkDrag>
            <td>*</td>
            <td>{{ marque.display_order }}</td>
            <td>{{ marque.name }}</td>

            <td class="actions">
              <button class="update" (click)="editMarque(marque)">
                <img src="/pictures/modifier.png">
              </button>

              <button class="danger" (click)="deleteMarque(marque.id)">
                <img src="/pictures/delete.png">
              </button>
            </td>

          </tr>
          }

        </tbody>
      </table>

    </div>
  </div>


  <!---------------- VÊTEMENTS ---------------->
  <div class="garments">
    <div class="garment-table">

      <table>
        <thead>
          <tr>
            <th>
              <div class="cont-btn-add" routerLink="/admin/garment/add">
                <img class="btn-add" src="/pictures/add.png" alt="">
              </div>
            </th>
            <th>Ordre</th>
            <th>Vêtements</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- 🔥 Activation du drag & drop -->
        <tbody cdkDropList (cdkDropListDropped)="dropGarments($event)">

          @for (garment of garments; track garment.id) {
          <tr cdkDrag>

            <td>*</td>
            <td>{{ garment.display_order }}</td>
            <td>{{ garment.name }}</td>

            <td class="actions">
              <button class="update" (click)="editGarment(garment)">
                <img src="/pictures/modifier.png">
              </button>

              <button class="danger" (click)="deleteGarment(garment.id)">
                <img src="/pictures/delete.png">
              </button>
            </td>

          </tr>
          }

        </tbody>
      </table>

    </div>
  </div>


  <!---------------- GENRES ---------------->
  <div class="genders">
    <div class="gender-table">
      <table>
        <thead>
          <tr>
            <th>
              <div class="cont-btn-add" routerLink="/admin/gender/add">
                <img class="btn-add" src="/pictures/add.png" alt="">
              </div>
            </th>
            <th>Ordre</th>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- 🔥 Activation du drag & drop -->
        <tbody cdkDropList (cdkDropListDropped)="dropGenders($event)">

          @for (gender of genders; track gender.id) {
          <tr cdkDrag>

            <td>*</td>
            <td>{{ gender.display_order }}</td>
            <td>{{ gender.name }}</td>

            <td class="actions">
              <button class="update" (click)="editGender(gender)">
                <img src="/pictures/modifier.png">
              </button>

              <button class="danger" (click)="deleteGender(gender.id)">
                <img src="/pictures/delete.png">
              </button>
            </td>

          </tr>
          }

        </tbody>
      </table>

    </div>
  </div>


</div>