.mannequin-img {
  display: block;
  width: 981px;   /* largeur fixe du mannequin */
  height: 1151px; /* hauteur fixe du mannequin */
  object-fit: contain; 
  pointer-events: none; /* empêche toute interaction */
  margin: 0 auto;       /* centre horizontalement si parent en block */
}

.outfit-wrapper {
  position: absolute;   /* flottant par rapport au parent cabine */
  top: 0;
  left: 0;
  z-index: 1000;        /* devant le mannequin */
  cursor: move;         /* curseur déplacement */
}

.outfit-img {
  display: block;
  width: 100%;          /* prend la largeur du wrapper */
  height: auto;         /* garde les proportions */
  object-fit: contain;
}
