<div class="page-body">
    <div class="cabine-box">
        <div class="mannequin-row">


        <div class="cabine-box">
        <img src="/pictures/mannequin-model.png" class="mannequin-base" />
        <div class="outfit-layer">
            <img [src]="formCabin.get('picturecabin')?.value" class="outfit-img" />
            <div class="resize-handle top-left"></div>
            <div class="resize-handle top-right"></div>
            <div class="resize-handle bottom-left"></div>
            <div class="resize-handle bottom-right"></div>
        </div>
        </div>


        </div>
    </div>


</div>

