:host {
   display: flex;
   flex-direction: column;
   min-height: 100dvh;
}

.global-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.global-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel-center {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

app-header {
  position: relative;
  z-index: 10;
}

app-carousel-host {
  position: relative;
  z-index: 1;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* Couleur sombre semi-transparente + flou */
   //  background-color: rgba(0, 0, 0, 0.5); 
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   /* Pour Safari */
   /* Centrage de la div enfant */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
}

.cookies {
   z-index: 9999;
}
