<div class="global-wrapper">
  @if(isCookiesIsNotSaved()){
  <div class="overlay">
    <div class="cookies">
      <app-cookies></app-cookies>
    </div>
  </div>
  }
  <div class="global-content">

    <app-header (search)="onSearch($event)" (searchFilters)="onSearchFilters($event)"></app-header>

    <div class="carousel-center">
      <app-carousel-host [query]="searchQuery" [filters]="searchFilters"></app-carousel-host>
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

  </div>
</div>