@media all and (max-width: 600px) {

.global-wrapper {
   width: 100%;
   min-height: 100dvh;
   display: flex;
   justify-content: center;
   padding: 0;
}

.global-content {
   width: 100%;
   max-width: 460px;
   min-height: 100dvh;
   background-color: #fff;

}

}



