<div class="carousel-wrapper">

  @if (!searchSubmitted()) {
    <div class="pb">
      <app-progressbar [pbIsLoading]="loadingPb"></app-progressbar>
    </div>

  } @else if (visibleArticles.length === 0) {

    <div class="no-result">No result</div>

  } @else if (canShowCarousel()) {

    <div class="carousel">

      <button class="nav left desktop" (click)="prev()">
        <app-component-left></app-component-left>
      </button>

      <div class="items"
           [class.animating]="isAnimating"
           [class.left-direction]="direction === 'left'">

           @for (article of visibleArticles; track trackByArticle($index, article); let i = $index) {
             <img
               [src]="article.pathpictureone"
               class="item"
               [style.transform]="getTransform(i)"
               [style.zIndex]="getZIndex(i)"
               [style.opacity]="getOpacity(i)"
             />
           }
      </div>

      <button class="nav right desktop" (click)="next()">
        <app-component-right></app-component-right>
      </button>

    </div>

    <div class="nav-mobile mobile">
      <button class="nav" (click)="prev()">
        <app-component-left></app-component-left>
      </button>
      <button class="nav" (click)="next()">
        <app-component-right></app-component-right>
      </button>
    </div>


  <div class="container">
    <div class="description">
      <p>{{ centralArticle.name }} de marque {{ centralArticle.marque }}</p>
      <span class="price">{{ centralArticle.prix | currency:'EUR'}}</span>
    </div>
  </div>
  
  }

</div>
