<footer class="footer">

    <div class="footer-links">

        <a class="footer-item" routerLink="/cabine">
            <div class="icon cabine"><app-foldermac></app-foldermac></div>
            <div class="label">BOYCOTE/</div>
            <div class="label">CABINE</div>
        </a>

         <!-- à changer plus tard en admin au lieu admin 2  -->
        <a class="footer-item" routerLink="/admin2"> 
            <div class="icon instagram"><app-foldermac></app-foldermac></div>
            <div class="label">ADMIN</div>
            <div class="label"></div>
        </a>

        <a class="footer-item">
            <div class="icon tiktok"><app-foldermac></app-foldermac></div>
            <div class="label">BOYCOTE/</div>
            <div class="label">TIKTOK</div>
        </a>

        <a class="footer-item" routerLink="/contact">
            <div class="icon contact"><app-foldermac></app-foldermac></div>
            <div class="label">BOYCOTE/</div>
            <div class="label">CONTACT</div>
        </a>

        <a class="footer-item" routerLink="/mention">
            <div class="icon mentions"><app-foldermac></app-foldermac></div>
            <div class="label">BOYCOTE/</div>
            <div class="label">MENTIONS</div>
        </a>

        <a class="footer-item" routerLink="/annulation">
            <div class="icon annulation"><app-foldermac></app-foldermac></div>
            <div class="label">BOYCOTE/</div>
            <div class="label">ANNULATION</div>
        </a>

    </div>

    <div class="copyright">
        © 2026 boy coté
    </div>

</footer>


































