<footer class="footer">

    <div class="footer-links">

        <a class="footer-item">
            <div class="icon cabine" (click)="folderCabinClick()"><app-foldermac></app-foldermac></div>
            <div class="label">VIRTUAL_</div>
            <div class="label">FITTING_LAB</div>
            <div class="interligne"></div>
        </a>

        <a class="footer-item" routerLink="/console"> 
            <div class="icon instagram"><app-foldermac></app-foldermac></div>
            <div class="label">BOY_COTÉ/</div>
            <div class="label">INSTAGRAM</div>
            <div class="interligne"></div>
        </a>

        <a class="footer-item">
            <div class="icon tiktok"><app-foldermac></app-foldermac></div>
            <div class="label">BOY_COTÉ/</div>
            <div class="label">TIKTOK</div>
            <div class="interligne"></div>
        </a>

        <a class="footer-item">
            <div class="icon contact" (click)="folderContactClick()"><app-foldermac></app-foldermac></div>
            <div class="label">BOY_COTÉ/</div>
            <div class="label">CONTACT</div>
            <div class="interligne"></div>
        </a>

        <a class="footer-item">
            <div class="icon mentions" (click)="folderNoticeClick()"><app-foldermac></app-foldermac></div>
            <div class="label">LEGAL_</div>
            <div class="label">NOTICE</div>
            <div class="interligne"></div>    
        </a>

        <a class="footer-item" (click)="folderAnnulationClick()">
            <div class="icon annulation"><app-foldermac></app-foldermac></div>
            <div class="label">RETURNS_</div>
            <div class="label">CANCELLATIONS</div>
            <div class="interligne"></div>
        </a>

    </div>

    <div class="copyright">
        © 2026 boy coté
    </div>

</footer>


































