* {
    padding: 0;
    margin: 0;
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: scale(0.7);
}

.footer-links {
    display: flex;
    width: 100%;
    justify-content: stretch;
    flex-wrap: wrap;
    /* pour le responsive */
    gap: 35px 30px;
    /* <-- gap vertical puis horizontal */
}

.footer-item {
    flex: 1;
    min-width: 110px;
    /* évite que ça devienne trop petit */
    display: flex;
    flex-direction: column;
    align-items: center
}

/* Icônes */
.icon {
    transform: scale(0.3);
    transform-origin: top center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Labels */
.label {
    // margin-top: 5px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

/* Copyright */
.copyright {
    margin-top: 25px;
    font-family: "Roboto Mono", monospace;
    font-style: oblique;
    font-size: 16px;
    padding-bottom: 10px;
}


@media all and (max-width: 601px) {
    .interligne {
        margin-bottom: 16px;
    }
}

@media (orientation: landscape) {
    .icon {
        margin-bottom: 8px;
    }
}


@media all and (max-width: 600px) {

    .footer-links {
        flex-wrap: wrap;
        /* <-- Passe en plusieurs lignes si nécessaire */
        gap: 2px; // augmenter le gap pour avoir que deux colonnes
        width: 350px;
    }

    .icon {
        transform: scale(0.23);
        margin-top: 25px;
    }

    .label {
        text-align: center;
        font-family: "Roboto Mono", monospace;
        font-size: 2.8vw;
    }

    .interligne {
        margin-bottom: 8px;
    }
}

@media all and (max-width: 360px) {
    .label {
        text-align: center;
        font-family: "Roboto Mono", monospace;
        font-size: 3.4vw;
    }
}

.footer-item {
    text-decoration: none;
}

.footer-item:link,
.footer-item:visited,
.footer-item:hover,
.footer-item:active {
    text-decoration: none;
    color: black;
}