<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>


<div class="footer">

    <!-- <div class="logo">
        <img src="/pictures/logo-instagram.png" class="logo-instagram" alt="Instagram">
        <img src="/pictures/logo-tiktok-x.png" class="logo-tiktok" alt="Tiktok">
    </div> -->

</div>
    
<div class="list">
    <div class="logo">
        <img src="/pictures/logo-instagram.png" class="logo-instagram" alt="Instagram">
        <img src="/pictures/logo-tiktok-x.png" class="logo-tiktok" alt="Tiktok">
    </div>

        <div class="item1">Contact us</div>
        <div class="item2">Shipping & Returns</div>
        <div class="item3">Styling Service</div>



<div class="language">
    <img src="/pictures/logo-FR-EN.png" class="logo-language" alt="language">
</div>
</div>
    
</body>
</html>





