
.carousel-wrapper {
  margin-top: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  position: relative;
  width: 520px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  position: absolute;
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: 18px;

  transition:
    transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.35s ease;
}

.items.animating .item {
  transform: translateX(-22px) scale(0.97);
  opacity: 0.9;
}

.items.animating.left-direction .item {
  transform: translateX(22px) scale(0.97);
  opacity: 0.9;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  border: none;
  background: white;
}

.left {
  left: -200px;
}

.right {
  right: -180px;
}

.mobile {
  display: none;
}

.nav-mobile {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.description  {
  margin-top: 9rem;
  text-align: center;
  max-width: 600px;
  font-family: "Roboto Mono", monospace; 
  font-size: 22px;
  font-weight: 300;
  color: #333;
}

.price{
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace; 
  font-size: 20px;
  color: #333;
  font-weight: 100;
}


/* Desktop */
.desktop {
  display: block;
}

.mobile {
  display: none;
}


/* Mobile */
@media (max-width: 768px) {

  .desktop {
    display: none !important;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    width: 100%;
    max-width: 650px;
    margin-top: 9rem;      /* ✔ flèches plus bas */
    padding-bottom: 0.2rem;  /* ✔ espace sous les flèches */
  }

  .nav {
    position: static;
    transform: none;
    margin-right: 0; /* ✔ propre */
  }

  .description{
    margin: 0;
    padding: 0;
  }
}