.spinner-container {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  height: 450px;
  margin-top: 20%;
}

p{
  font-family: "Roboto Mono", monospace; 
  font-size: 28px;
  font-weight: 600;
  color: #333;
//  margin-bottom: 100px;
}
