.spinner-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  height: 220px;
}

p{
  font-family: "Roboto Mono", monospace; 
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 100px;
}
