


    <div class="folder-mac" [class.clicked]="isClicked" (click)="handleClick()">
    
      <div class="back-side">
    
        <svg viewBox="0 0 240 200" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M 20,200 Q 0,200 0,180 L 0,60 Q 0,40 20,40 L 120,40 Q 133,40 138,30 L 144,18 Q 148,8 158,8 L 220,8 Q 240,8 240,28 L 240,180 Q 240,200 220,200 Z"
            fill="#1a91e5"
          />
        </svg>
    
      </div>
    
      <div class="front-side">
        <div class="bottom-bar"></div>
      </div>
    
    </div>





