    @if(product){
        <h1 style="text-align: center;">Produit: {{product.name}} - SKU: {{product.sku}} </h1>
    }
      
  
    <img class="back-btn" src="pictures\back.png" [routerLink]="['/console']" alt="Back">
    <br>
    <button class="logout-btn" (click)="logout()">Logout</button>
    <form [formGroup]="form" (ngSubmit)="save()" class="product-form">

        <!-- SECTION 1 : Infos générales -->
        <section class="block">
            <h2>Informations générales</h2>

            <div class="block-fields">
                <label style="color: crimson;">* SKU <input type="text" formControlName="sku" required></label>
                <label style="color: crimson;">* Nom <input type="text" formControlName="name" required></label>
                <label>Description <textarea formControlName="description"></textarea></label>
                <label>Conditions <textarea formControlName="conditions"></textarea></label>
                <label>Type
                    <select formControlName="type" required>
                        <option value="">-- Choisir --*</option>
                        @for (t of types; track t.id) {
                        <option [value]="t.name">{{ t.name }}</option>
                        }
                    </select>
                </label>
                <label>Genre
                    <select formControlName="gender" required>
                    <option value="">-- Choisir --*</option>
                    @for (g of genders; track g.id) {
                    <option [value]="g.name">{{ g.name }}</option>
                    }
                    </select>
                </label>
                <label style="color: crimson;">* Taille<input type="text" formControlName="size" required></label>
                <label style="color: crimson;">* Mesure<input type="text" formControlName="mesure" required></label>
                <label style="color: crimson;">* Prix (€)<input type="number" formControlName="prix" required></label>
                <label style="color: crimson;">* Stock<input type="number" formControlName="stock" required></label>

                <label style="color: crimson;">* Marque
                    <select formControlName="marque" required>
                        <option value="" style="color: crimson;">* Choisir</option>
                        @for (m of marques; track m.id) {
                        <option [value]="m.name" >{{ m.name }}</option>
                        }
                    </select>
                </label>
            </div>
        </section>

        <!-- SECTION 2 : Images produit -->
        <section class="block">
            <h2>Images du produit </h2>

            <div class="pictures-grid">

        @for (field of pictureFields; track field) {
        <div class="picture-block">

        <div class="picture-wrapper">
        @if (form.get(field)?.value) {
            <img [src]="form.get(field)?.value + '?v=' + refreshToken" class="preview">

            <!-- Bouton delete affiché seulement si une image existe -->
            <button type="button" class="btn-icon-delete" (click)="deleteProductImage(field)">
                <img src="pictures\corbeille.png" alt="Supprimer" class="delete-icon">
            </button>
        } @else {
            <div class="empty-thumb"></div>
        }
        </div>

            <label class="upload-btn">
            Choisir un fichier
            <input type="file" class="file-input" (change)="onFileSelected($event, field, $index + 1)">
            </label>

        </div>
        }
            </div>
        </section>


        <button type="submit" class="btn-save">Enregistrer</button>

    </form>